.backdrop {
    position: fixed;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-backdrop);
    padding-top: 93px;
    padding-bottom: 93px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
}

.backdrop--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: background-color var(--time) var(--function),
    opacity var(--time) var(--function);
}

.backdrop__background {
    position: absolute;
    width: 450px;
    /*height: 609px;*/
    background-color: var(--white-color);
}