.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $color-backdrop;
    overflow-y: scroll;

    @media screen and (min-width: $tablet) {
        padding-top: 208px;
        padding-bottom: 207px;
        padding-left: 159px;
        padding-right: 159px;
    }
}

.backdrop--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: background-color $time $function,
    opacity $time $function;
}

.backdrop__background {
    position: absolute;
    width: 450px;
    background-color: $white-color;
}