.clients__container {
    padding-top: $big-size-mobile;
    padding-bottom: $big-size-mobile;

    @media screen and (min-width: $desktop) {
        padding-top: $big-size;
        padding-bottom: $big-size;
    }
}

.clients__title {
    margin-bottom: $small-size;

    font-weight: 700px;
    font-size: 28px;
    line-height: 33px;
    text-align: center;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
    }

}

.clients__list {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$small-size;
    margin-top: -$small-size;
}


.client__item {
    margin-left: $small-size;
    margin-top: $small-size;
    flex-basis: calc((480px - 4 * 15px) / 2);

    @media screen and (min-width: $tablet) {
        flex-basis: calc((768px - 6 * 15px) / 3);   
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((1200px - 12 * 15px) / 6);   
    }
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    fill: $social-networks;
    border: 1px solid $shadow-footer;
    border-radius: 4px;

    transition: color $time $function,
    fill $time $function,
    border-color $time $function;

    &:hover,
    &:focus {
        color: $blue-color;
        fill: currentColor;
        border-color: currentColor;
        outline: none;
    }
}