.foot {
    background-color: $background-color;
    font-weight: 400;
    line-height: 24px;
}

.foot__container {
    padding-top: $big-size-mobile;
    padding-bottom: $big-size-mobile;
    text-align: center;

    @media screen and (min-width: $desktop) {
        display: flex;
        text-align:start;
        justify-content: space-between;
        padding-top: calc(2 * $small-size);
        padding-bottom: calc(2 * $small-size);
    }
}

.foot__wrap {
    @media screen and (min-width: $tablet) {
    display: flex;
    }
}

.address {
    color: $white-color;
    letter-spacing: 0.03em;
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
        margin-left: 61px;
        margin-right: auto;
        padding-bottom: 9px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 0;
        margin-right: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.address__title {
    padding-bottom: 9px;
    font-style: normal;
}

.address__item {
    &:first-child {
        margin-bottom: 8px;
    }
}

.address__link {
    color: $color-adress;
    font-style: normal;
}
