.foot {
    background-color: var(--background-color);
    font-weight: 400;
    line-height: 24px;
}

.foot__container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        display: flex;
        text-align:start;
       /* align-items: baseline;*/
        justify-content: space-between;
        padding-top: calc(2 * var(--small-size));
        padding-bottom: calc(2 * var(--small-size));
    }
}

.foot__wrap {
    @media screen and (min-width: 768px) {
    display: flex;
    }

    /*@media screen and (min-width: 1200px) {
        margin-right: 93px;
    }*/
}

.address {
    color: var(--white-color);
    letter-spacing: 0.03em;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-left: 61px;
        margin-right: auto;
        padding-bottom: 9px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-right: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.address__title {
    padding-bottom: 9px;
    font-style: normal;
}

.address__item {
    &:first-child {
        margin-bottom: 8px;
    }
}

.address__link {
    color: var(--color-adress);
    font-style: normal;
}
