/*разметка героя*/
.main {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
    max-width: 480px;
    height: 400px;

    background-color: var(--background-color);
    text-align: center;
    color: var(--white-color);
    background-image: linear-gradient(
            to right,
            var(--gradient-color),
            var(--gradient-color)
        ),
        url('/images/hero.jpg');
    /*background-position: center;*/

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/images/hero@2x.png');
        background-size: contain;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image: url('/images/hero-tablet.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: 768px) {
        background-image: url('/images/hero-tablet@2x.jpg');
        background-size: contain;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        background-image: url('/images/hero-desk.jpg');
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: 1200px) {
        background-image: url('/images/hero-desk@2x.jpg');
        background-size: contain;
    }

}

.main__desk {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: var(--small-size);

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 768px)  {
        padding-left: 189px;
        padding-right: 189px;
    }

    @media screen and (min-width: 1200px)  {
        padding-left: 237px;
        padding-right: 237px;
        font-size: 44px;
        line-height: 60px;
    }
}