/*стили логотипа*/

.logo__link {

    color: $blue-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;  

    @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 31px;
    }
}

.logo--top {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

.logo--bottom {
    padding: 0;
    margin-bottom: 20px;
}

.logo__text--black {
    color: $black-color;
}

.logo__text--white {
    color: $white-color;
}