:root {
    --main-color: rgba(33, 33, 33, 1);
    --input-color: rgba(33, 33, 33, 0.2);
    --blue-color: rgba(33, 150, 243, 1);
    --blue-overflow: rgba(33, 150, 243, 0.9);
    --grey-color: rgba(117, 117, 117, 1);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --white-color: rgba(255, 255, 255, 1);
    --color-adress: rgba(255, 255, 255, 0.6);
    --input-footer: rgba(255, 255, 255, 0.3);
    --graphite-color: rgba(255, 255, 255, 0.1);
    --black-color: rgba(0, 0, 0, 1);
    --shadow-footer: rgba(0, 0, 0, 0.15);
    --color-backdrop: rgba(0, 0, 0, 0.2);
    --backdrop-mail: rgba(0, 0, 0, 0.25);
    --backdrop-buttom: rgba(0, 0, 0, 0.1);
    --background-color: rgba(47, 48, 58, 1);
    --skills-color: rgba(47, 48, 58, 0.8);
    --background-color-team: rgba(245, 244, 250, 1);
    --border-color: rgba(236, 236, 236, 1);
    --card-border-color: rgba(238, 238, 238, 1);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --social-networks: rgba(175, 177, 184, 1);
    --big-size: 94px;
    --small-size: 30px;
    --tiny-size: 10px;
    --function: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--main-color);
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}
