/*стили логотипа*/

111111.logo__link {
    22222padding-top: 24px;
   2222 padding-bottom: 25px;

   1111 color: var(--blue-color);
   1111 font-family: 'Raleway', sans-serif;
   111 font-weight: 700;
   111 font-size: 26px;
   111 line-height: 31px;
}

11111.logo--top {
    2222padding-top: 24px;
   22222 padding-bottom: 24px;
}

22222.logo--bottom {
    margin-bottom: 20px;
}

11111.logo__text--black {
    color: var(--black-color);
}

222222.logo__text--white {
    color: var(--white-color);
}
