/*результаты работ*/

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: calc (1200px / 3 - 30px);
    margin-left: calc(-1 * var(--small-size));
    margin-top: calc(-1 * var(--small-size));
    margin-bottom: var(--big-size);
}

.portfolio__item {
    position: relative;
    margin-left: var(--small-size);
    margin-top: var(--small-size);
    transition: box-shadow var(--time) var(--function);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        outline: none;
    }
}

.portfolio__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid var(--card-border-color);
    border-left: 1px solid var(--card-border-color);
    border-bottom: 1px solid var(--card-border-color);
}

.portfolio__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.portfolio__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--small-size);
    color: var(--grey-color);
}

.portfolio__desk {
    position: absolute;
    transform: translateY(100%);
    opacity: 0;

    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    color: var(--white-color);
    background-color: var(--blue-overflow);
    width: 100%;
    top: 0;
    height: 294px;

    transition: transform var(--time) var(--function),
        opacity var(--time) var(--function);

    .portfolio__item:hover &,
    .portfolio__item:focus & {
        transform: translateY(0);
        opacity: 1;
        outline: none;
    }
}
