/*чем мы занимаемся*/

.skills__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
}

.skills__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--big-size);
}

.skills__item {
    position: relative;
    display: flex;
}

.skills__subtitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
    bottom: 0;

    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--skills-color);
}
